<!DOCTYPE html>
<html>
<head>
  <!---AIzaSyBNaVBsxgA8BBXHQZ9zi5psjhbVLiOS1Ew--->
  <link rel="icon" href="favicon_bell.ico" type="image/x-icon">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="twistForks.css">
  <link rel="stylesheet" href="stylesheet.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Dancing+Script" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="restaurantdisplay.css">
</head>

<body class="listBG">
<div id="app">
  <h1 class="logohead"><img src="logohead1.png" alt="DINEoutTONIGHT" class="logoimg">  Twist Forks</h1>
  <div class="navbar">
    <a class="active" href="index.html">Home</a>
    <a href="map.html">Map</a>

    <div class="logdropdown">
      <button class="logdropbtn">Login
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <button onclick="document.getElementById('id01').style.display='block'">Guest Login</button>
        <button onclick="document.getElementById('id02').style.display='block'">restaurant Login</button>
      </div>
    </div>
    <div class="logdropdown">
      <button class="logdropbtn">Sign Up
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="signin.html">Customer Sign-Up</a>
        <a href="register_restaurant.html">Restauranteur Sign-Up</a>
      </div>
    </div>
  </div>
  <div class=sticky>
    <form action="/action_page.php" id="time" id="people" >
      <input class="fa fa-calendar" type="date" v-model="dateValue">
      <br>
      <select v-model="timeValue">
        <option value="01:00">01:00</option>
        <option value="01:30">01:30</option>
        <option value="02:00">02:00</option>
      </select>
      <br>
      <select v-model="personNum">
        <option value="1">1 person</option>
        <option value="2">2 people</option>
        <option value="3">3 people</option>
      </select>
      <br>
      <input type="search" v-model="restaurantName" placeholder="type a resturant name"><br>
      <input type="submit" value="search">


    </form>
    <!---login-->
  </div>
  <div id="id01" class="login">

    <form class="login-content animate">
      <div class="imgcontainer">
        <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>

        <img src="login.jpg" width="12%"height="8%">
      </div>

      <div class="container">
        <label><b>ID:</b></label>
        <input type="text" placeholder="Enter your ID" name="uname" required>

        <label><b>Password:</b></label>
        <input type="password" placeholder="Enter Password" name="psw" required>
        <div class ="loginM">
          <button  type="submit">Login</button>
          <button  type="submit">Login with your Facebook</button>
          <button  ctype="submit">Login with your Twitter</button>
        </div>
        <label>
          <input type="checkbox" checked="checked" name="remember"> Remember
        </label>
      </div>

      <div class="container" style="background-color:#f1f1f1">
        <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbutton">Cancel</button>
        <span class="psw"><a href="#">Forgot your password?</a></span>
        <br>
        <br>
        <span class="psw"><a href="#">Change your login information</a></span>
      </div>
    </form>
  </div>
  <!---meimei login rest--->

  <div id="id02" class="login">

    <form class="login-content animate">
      <div class="imgcontainer">
        <span onclick="document.getElementById('id02').style.display='none'" class="close" title="Close Modal">&times;</span>

        <img src="login.jpg" width="12%"height="8%">
        <p>( Restaurant )</p>
      </div>

      <div class="container">
        <label><b>ID:</b></label>
        <input type="text" placeholder="Enter your ID" name="uname" required>

        <label><b>Password:</b></label>
        <input type="password" placeholder="Enter Password" name="psw" required>
        <div class ="loginM">
          <button  type="submit">Login</button>
          <button  type="submit">Login with your Facebook</button>
          <button  ctype="submit">Login with your Twitter</button>
        </div>
        <label>
          <input type="checkbox" checked="checked" name="remember"> Remember
        </label>
      </div>

      <div class="container" style="background-color:#f1f1f1">
        <button type="button" onclick="document.getElementById('id02').style.display='none'" class="cancelbutton">Register</button>
        <span class="psw"><a href="#">Forgot your password?</a></span>
        <br>
        <br>
        <span class="psw"><a href="#">Change your login information</a></span>
      </div>
    </form>
  </div>
  <!----  restaurant list---->
  <div class="rescontainer">
    <div>
      <img class="rescontainer"src="p3.jpg" alt="insertphoto">
      <h1>Shiki</h1>
      <h2>Star Rating</h2>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star unchecked"></span>
      <span class="fa fa-star unchecked"></span>
      <br>
      <a class="rescontainer" onclick="window.location.href='booking_page.html'">Start booking</a>
    </div>
  </div>
  <br>

<div class="rescontainer">
  <div>
    <img class="rescontainer"src="p1.jpg" alt="insertphoto">
    <h1>Laucino</h1>
    <h2>Star Rating</h2>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star unchecked"></span>
    <br>
    <a class="rescontainer" onclick="window.location.href='booking_page.html'">Start booking</a>
  </div>
</div>
<br>
<div class="rescontainer">
  <div>
    <img class="rescontainer"src="p2.jpg" alt="insertphoto">
    <h1>Takitsu</h1>
    <h2>Star Rating</h2>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star unchecked"></span>
    <br>
    <a class="rescontainer" onclick="window.location.href='booking_page.html'">Start booking</a>
  </div>
</div>

<!--top button-->
<button onclick="topFunction()" id="myBtn" title="Back to top"><i class="fa fa-chevron-up"></i> Top</button>
<div style="padding:30px 30px 2500px"></div>
<!---footer--->
<footer>
  <div class="footerlinks">
    <ul>
      <li><a href=ContactUs.html >Contact Us</a></li>
      <li><a href=FeedBack.html>Feedback</a></li>
      <li><a href=Privacy_Policy.html>Privacy Policy</a></li>

    </ul>
  </div>
  <div class="copyright">
    <p>Copyright &#169; 2019</p >
  </div>
</footer>
</div>
</body>
<script>
  // Get the modal
  var modal = document.getElementById('id02');

  // When the user clicks anywhere outside of the modal, close it
  window.onclick = function(event) {
    if (event.target == modal) {
      modal.style.display = "none";
    }
  }
</script>
<script src="./js/jquery.min.js"></script>
<script src="./js/vue.min.js"></script>
<script type="text/javascript" src="twistforks.js"></script>
<script>
  var app = new Vue({
    el: '#app',
    mounted: function () {
      var searchStr = localStorage.getItem('searchCondition');
      if (searchStr != null && searchStr != undefined) {
        var searchCondition = JSON.parse(searchStr);
        this.dateValue = searchCondition.dateValue;
        this.timeValue = searchCondition.timeValue;
        this.personNum = searchCondition.personNum;
        this.restaurantName = searchCondition.restaurantName;
      }
      debugger
    },
    data: function () {
      return {
        dateValue: '',
        timeValue: '',
        personNum: '1',
        restaurantName: ''
      }
    },
    methods: {
      // 根据查询条件去查询 restaurant
      getRestaurantByCondition: function () {

      },
      searchAction: function () {
        console.dir(this.$data);
        alert('searchAction')
        debugger
        window.location.href = 'restaurantdisplay.html';
      },
      loginAction: function (type) {
        this.login.type = type;
        console.dir(this.login);
        alert('loginAction')
        debugger
      }
    }
  })

</script>
</html>