<!DOCTYPE html>
<html>
<head>
  <title>Twist Forks</title>
  <link rel="stylesheet" href="register.css">
</head>

<body class="background2">
<div id="app" class="register">
  <h1 class="registerhere"><b>Register Here!</b></h1>
  <p class="registerid">Your given ID is: XXXXXX</p>
  <div>
    <div class="inputClass">
      <label><strong>First Name</strong></label>
      <input type="text" placeholder="First Name" v-model="firstname" required>
      <label><strong>Last Name</strong></label>
      <input type="text" placeholder="Last Name" v-model="lastname" required>
      <label><strong>Age</strong></label>
      <input type="number" placeholder="Age" v-model="age" required>

      <p class="gender"><strong class="gender">Gender</strong></p>
      <label>Male</label>
      <input type="radio" placeholder="Male" value="1" v-model="gender">
      <label>Female</label>
      <input type="radio" placeholder="Female" value="0" v-model="gender">
      <label>Prefer not to say</label>
      <input type="radio" placeholder="Prefer not to say" value="2" v-model="gender"><br>
      <label><strong>Create Username</strong></label>
      <input type="text" placeholder="Create Username" v-model="username" required>
      <label><strong>Email</strong></label>
      <input type="email" placeholder="Enter Email" v-model="email" required>
      <label><strong>Password</strong></label>
      <input type="password" placeholder="Enter Password" v-model="password" required>
      <label><strong>Repeat Password</strong></label>
      <input type="password" placeholder="Retype Password" v-model="repassword" required>
      <label><strong>Phone Number</strong></label>
      <input type="number" placeholder="Enter phone number" v-model="phone" required>
      <label><strong>Home Address</strong></label>
      <input type="text" placeholder="Enter address" v-model="address" required>
      <label><strong>Birthday</strong></label>
      <input type="date" placeholder="Enter date" v-model="birthday" required>
      <div class="buttonClass">
        <button @click="registAction" class="registerButton">Register</button>
        <a href="HomePage.html">
          <button type="button" class="cancelButton">Cancel</button>
        </a>
      </div>
    </div>
  </div>
</div>
</body>
<script src="./js/jquery.min.js"></script>
<script src="./js/vue.min.js"></script>
<script>
  var app = new Vue({
    el: '#app',
    mounted: function () {
    },
    data: {
      firstname: '',
      lastname: '',
      gender: '',
      email: '',
      phone: '',
      age: '',
      address: '',
      password: '',
      repassword: '',
      birthday: '',
      username: ''
    },
    methods: {
      registAction: function () {
        if (this.password != this.repassword) {
          alert('两次密码不一致')
          return false;
        }
        $.ajax({
          type: "POST",
          url: "/users/regist/customer",
          data: this.$data,
          success: function(res){
            if (res.state == 1) {
              localStorage.setItem('userinfo', JSON.stringify(res.user));
              alert('登录成功');
              window.location.href = '/logged_into_customer.html';
            } else {
              alert('登录失败');
            }
          }
        });
      }
    }
  })

</script>
</html>